@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: spotify-circular;
    src: url("../font/CircularSpotifyTxT-Black.ttf");
}

@font-face {
    font-family: spotify-circular-2;
    src: url("../font/CircularStd-Book.ttf");
}


body{
    background: theme("colors.bgBlueSP");
}

.circularFont2{
    font-family: spotify-circular-2, Helvetica, Arial, sans-serif
}

.circularFont{
    font-family: spotify-circular, Helvetica, Arial, sans-serif
}

.logo{
    font: 0/0 a;

}

.navBar{
    margin: 0 auto;
    padding: 0 15px;
}




.customBar{
    max-width: 1170px;
    margin-left: 1rem;
    background: red;
}

.liDiv{
    display: inline-block;
    height: 16px;
    width: 1px;
    background: currentColor;
    margin: auto 17px;
}






@media  screen and (min-width: 390px) {

    .bgCustom3{
  
        background: url("https://www-growth.scdn.co/static/home/bursts-mobile.svg");
        background-position: center top 40%;
        background-repeat: no-repeat;
        background-size: 211%;
        height: 100vh;
        text-align: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
    }
    
    
}



@media screen  and (min-width:1280px){
    .bgCustom1{
        
        background: url("./Public/bursts.svg");
        background-size: 170%;
        background-position: 46% 4%;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: 846px;
        z-index: 1;
    }
}


@media screen and  (min-width: 768px) and (max-width: 	1024px){
    .bgCustom2{
        background: url("https://www-growth.scdn.co/static/home/bursts-tablet.svg");
        background-size: 140%;
        background-position: right 50% center;
        -webkit-box-pack: center;
        justify-content: center;
    }
}








